.profile-page {
  width: min(90%, 900px);
  margin-inline: auto;
  padding-top: 30px;

  display: grid;
  grid-template-columns: 200px 1fr;

  gap: 30px h1 {
    margin-bottom: 30px;
  }

  aside {
    position: relative;
    padding-top: 20px;
    &::after {
      content: '';
      width: 1px;
      height: 100%;
      background-color: var(--border2);
      position: absolute;
      right: 20px;
      top: 0;
    }

    ul li {
      list-style: none;
      +li {
        margin-top: 20px;
      }

      a {
        width: 100%;
        text-decoration: none;
      }
    }
  }

}

.account-data {
  display: grid;
  gap: 10;
  grid-template-columns: 200px 1fr;

  dt {
    font-weight: bold;
  }
}